USE [DiemDanh]
GO
/****** Object:  Table [dbo].[CHITIETDANGNHAP]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDANGNHAP](
	[IDPHANQUYEN] [int] NOT NULL,
	[IDDANGNHAP] [int] NOT NULL,
	[THOIGIANDANGNHAP] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPHANQUYEN] ASC,
	[IDDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[IDDANGNHAP] [int] IDENTITY(1,1) NOT NULL,
	[IDPHANQUYEN] [int] NULL,
	[TENDANGNHAP] [char](50) NULL,
	[MATKHAU] [char](50) NULL,
 CONSTRAINT [PK__DANGNHAP__F73FC1F018E9B713] PRIMARY KEY CLUSTERED 
(
	[IDDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHSACHLOP]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACHLOP](
	[IDLOPMH] [int] NOT NULL,
	[IDSINHVIEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLOPMH] ASC,
	[IDSINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMDANHSV]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDANHSV](
	[IDDDSV] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANDDSV] [datetime] NOT NULL,
	[GHICHU] [nvarchar](255) NULL,
	[IDLICHHOC] [int] NOT NULL,
	[IDLOPMH] [int] NOT NULL,
	[IDSINHVIEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDDSV] ASC,
	[IDLICHHOC] ASC,
	[IDLOPMH] ASC,
	[IDSINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[IDGIANGVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MAGIANGVIEN] [text] NOT NULL,
	[TENGIANGVIEN] [text] NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[EMAIL] [text] NOT NULL,
	[DIACHI] [nvarchar](1) NULL,
	[SODIENTHOAI] [varchar](10) NULL,
	[IDPHANQUYEN] [int] NOT NULL,
	[IDDANGNHAP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGIANGVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[IDHOCKY] [int] IDENTITY(1,1) NOT NULL,
	[MAHOCKY] [text] NOT NULL,
	[TENHOCKY] [text] NOT NULL,
	[IDNAMHOC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHHOC]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHOC](
	[IDLICHHOC] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANDIEMDANH] [datetime] NOT NULL,
	[TUANHOC] [int] NOT NULL,
	[MAQR] [text] NOT NULL,
	[IDLOPMH] [int] NOT NULL,
	[IDSINHVIEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLICHHOC] ASC,
	[IDLOPMH] ASC,
	[IDSINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPMONHOC]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPMONHOC](
	[IDLOPMH] [int] IDENTITY(1,1) NOT NULL,
	[MALOPMH] [text] NOT NULL,
	[TENLOPMH] [text] NOT NULL,
	[NHOMMONHOC] [int] NOT NULL,
	[TOTHUCHANH] [bit] NOT NULL,
	[THU] [text] NOT NULL,
	[SOTIET] [int] NULL,
	[TIETBATDAU] [int] NULL,
	[NGAYBATDAU] [datetime] NOT NULL,
	[NGAYKETTHUC] [datetime] NOT NULL,
	[PHONGHOC] [text] NOT NULL,
	[IDGIANGVIEN] [int] NOT NULL,
	[IDMONHOC] [int] NOT NULL,
	[IDHOCKY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLOPMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPSINHVIEN]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPSINHVIEN](
	[IDLOPSINHVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MALOPSV] [text] NOT NULL,
	[TENLOPSV] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLOPSINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[IDMONHOC] [int] IDENTITY(1,1) NOT NULL,
	[MAMONHOC] [text] NOT NULL,
	[TENMONHOC] [text] NOT NULL,
	[SOBUOI] [int] NULL,
	[SOTINCHI] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[IDNAMHOC] [int] IDENTITY(1,1) NOT NULL,
	[MANAMHOC] [text] NOT NULL,
	[TENNAMHOC] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNAMHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[IDPHANQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPHANQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANTRIVIEN]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANTRIVIEN](
	[IDQTV] [int] IDENTITY(1,1) NOT NULL,
	[MAQTV] [text] NOT NULL,
	[TENQTV] [text] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[PHANQUYENQTV] [bit] NOT NULL,
	[IDPHANQUYEN] [int] NOT NULL,
	[IDDANGNHAP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDQTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/24/2019 12:58:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[IDSINHVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MASOSINHVIEN] [text] NOT NULL,
	[TENSINHVIEN] [text] NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[EMAIL] [text] NULL,
	[SODIENTHOAI] [varchar](10) NULL,
	[DIACHI] [nvarchar](1) NULL,
	[IDLOPSINHVIEN] [int] NOT NULL,
	[IDPHANQUYEN] [int] NOT NULL,
	[IDDANGNHAP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DANGNHAP] ON 

INSERT [dbo].[DANGNHAP] ([IDDANGNHAP], [IDPHANQUYEN], [TENDANGNHAP], [MATKHAU]) VALUES (1, 1, N'admin1                                            ', N'123456                                            ')
INSERT [dbo].[DANGNHAP] ([IDDANGNHAP], [IDPHANQUYEN], [TENDANGNHAP], [MATKHAU]) VALUES (2, 2, N'giangvien1                                        ', N'123456                                            ')
INSERT [dbo].[DANGNHAP] ([IDDANGNHAP], [IDPHANQUYEN], [TENDANGNHAP], [MATKHAU]) VALUES (3, 3, N'sinhvien1                                         ', N'123456                                            ')
SET IDENTITY_INSERT [dbo].[DANGNHAP] OFF
ALTER TABLE [dbo].[CHITIETDANGNHAP]  WITH CHECK ADD FOREIGN KEY([IDPHANQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([IDPHANQUYEN])
GO
ALTER TABLE [dbo].[CHITIETDANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDANGNHAP_DANGNHAP] FOREIGN KEY([IDDANGNHAP])
REFERENCES [dbo].[DANGNHAP] ([IDDANGNHAP])
GO
ALTER TABLE [dbo].[CHITIETDANGNHAP] CHECK CONSTRAINT [FK_CHITIETDANGNHAP_DANGNHAP]
GO
ALTER TABLE [dbo].[DANHSACHLOP]  WITH CHECK ADD FOREIGN KEY([IDLOPMH])
REFERENCES [dbo].[LOPMONHOC] ([IDLOPMH])
GO
ALTER TABLE [dbo].[DANHSACHLOP]  WITH CHECK ADD FOREIGN KEY([IDSINHVIEN])
REFERENCES [dbo].[SINHVIEN] ([IDSINHVIEN])
GO
ALTER TABLE [dbo].[DIEMDANHSV]  WITH CHECK ADD FOREIGN KEY([IDLICHHOC], [IDLOPMH], [IDSINHVIEN])
REFERENCES [dbo].[LICHHOC] ([IDLICHHOC], [IDLOPMH], [IDSINHVIEN])
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD FOREIGN KEY([IDPHANQUYEN], [IDDANGNHAP])
REFERENCES [dbo].[CHITIETDANGNHAP] ([IDPHANQUYEN], [IDDANGNHAP])
GO
ALTER TABLE [dbo].[HOCKY]  WITH CHECK ADD FOREIGN KEY([IDNAMHOC])
REFERENCES [dbo].[NAMHOC] ([IDNAMHOC])
GO
ALTER TABLE [dbo].[LICHHOC]  WITH CHECK ADD FOREIGN KEY([IDLOPMH], [IDSINHVIEN])
REFERENCES [dbo].[DANHSACHLOP] ([IDLOPMH], [IDSINHVIEN])
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD FOREIGN KEY([IDGIANGVIEN])
REFERENCES [dbo].[GIANGVIEN] ([IDGIANGVIEN])
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD FOREIGN KEY([IDHOCKY])
REFERENCES [dbo].[HOCKY] ([IDHOCKY])
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD FOREIGN KEY([IDMONHOC])
REFERENCES [dbo].[MONHOC] ([IDMONHOC])
GO
ALTER TABLE [dbo].[QUANTRIVIEN]  WITH CHECK ADD FOREIGN KEY([IDPHANQUYEN], [IDDANGNHAP])
REFERENCES [dbo].[CHITIETDANGNHAP] ([IDPHANQUYEN], [IDDANGNHAP])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([IDPHANQUYEN], [IDDANGNHAP])
REFERENCES [dbo].[CHITIETDANGNHAP] ([IDPHANQUYEN], [IDDANGNHAP])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([IDLOPSINHVIEN])
REFERENCES [dbo].[LOPSINHVIEN] ([IDLOPSINHVIEN])
GO
